In [19]:
import pandas as pd
from keras.layers import Dense
from keras.models import Sequential
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv('./Churn_Modelling.csv')
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [21]:
sc = StandardScaler()

In [22]:
df.sample()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
2618,2619,15724834,Wilson,498,France,Female,30,1,0.0,2,0,0,135795.53,0

In [23]:
X.drop(columns = ['RowNumber', 'CustomerId', 'Surname'], inplace = True)
X['Gender'] = LabelEncoder().fit_transform(X['Gender'])
X = pd.get_dummies(X)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size = 0.3, random_state = 42)
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [25]:
ann = Sequential()
ann.add(Dense(6, 'relu'))
ann.add(Dense(1, 'sigmoid'))
ann.compile('adam', 'binary_crossentropy')
ann.fit(X_train_scaled, y_train, 32, 100, 0)

In [26]:
'{:.2f}%'.format(accuracy_score(y_test, ann.predict(X_test_scaled) >= 0.5) * 100)

94/94 [==============================] - 0s 587us/step

'86.47%'

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [27]:
'{:.2f}%'.format(ann.predict(sc.transform([[600, 1, 40, 3, 60000, 2, 1, 1, 50000, 1, 0, 0]]))[0, 0] * 100)

1/1 [==============================] - 0s 15ms/step

'6.90%'